# Created by .ignore support plugin (hsz.mobi)
### Scala template
*.class
*.log
*.csv
/project/
/spark-warehouse/
/.idea/
/target/
/src/main/scala/com/hustlestar/spark/view/_join/JoinBasedIncremental.scala
/src/main/scala/resources/
